<section class="about-area pb-60 pt-100 bg-bottom-cover" style="background-image:url(assets/img/home/about-section-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <!-- <div class="section-title">
                    <h2>The Scientific Group Advantage</h2>
                </div> -->
                <div class="about-content">
                      <h4 class="text-left" style="line-height:1.5em;">Scientific Mechanical provides expert product knowledge and design experience as well
as continuous maintenance and service to ensure your systems are optimally functioning.
We have comprehensive solutions for all of your mechanical, refrigeration, engineering
and construction needs. Scientific designs systems for special manufacturing applications,
ranging from simple heating/cooling installations to environmental controlled systems.</h4>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo/logo-black.png" style="max-height:200px;">
            </div>
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo-grid.png" style="max-height:300px;">
            </div>
        </div> -->
    </div>
</section>
